*   {
    margin: 0;
    border: 0;
    padding: 0;
}
html    {
    background-color: #cbcbcb;
    background-image: url("../images/Background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: inherit;
    background-size: cover;
    
}
body    {
    padding-top: 200px;
    padding-left: 12%;
    padding-right: 12%;
}
p   {
    
}
h1  {
    padding: 1em;
    align-content: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
}

header    {
    background-color: #0088ff;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.29);
}

.row    {
    width: 100%;
    display: table-row;  
}
.coloum {
    width: 100%;
    display: table;
}
.button {
    background-color: #202020;
    -webkit-filter: blur(0px);
   -moz-filter: blur(0px);
   -o-filter: blur(0px);
   -ms-filter: blur(0px);
   filter: blur(0px);
    -webkit-transition: 1s;
    transition: 1s;
    display: table-cell;
    width: 33.333333333%;
}
.button:hover {
    background-color: rgba(0, 136, 255, 0.7);
    width: 33.333333333%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.29);
    -webkit-filter: blur(2px);
   -moz-filter: blur(2px);
   -o-filter: blur(2px);
   -ms-filter: blur(2px);
   filter: blur(2px);
}

div.tv  {
    width: 12.5%;
    display: table-cell;
    -webkit-filter: blur(0px);
   -moz-filter: blur(0px);
   -o-filter: blur(0px);
   -ms-filter: blur(0px);
   filter: blur(0px);
    -webkit-transition: .5s;
    transition: .5s;
}
div.tv:hover    {
    -webkit-filter: blur(2px);
   -moz-filter: blur(2px);
   -o-filter: blur(2px);
   -ms-filter: blur(2px);
   filter: blur(2px);
}

@media only screen and (max-width: 40em) {
    body    {
        padding: 0px;
        margin: 0px;
    }
    .button {
        width: 100%;
        display:block;
    }
    .button:hover {
        width: 100%;
        display:block;
    }
}